# deps / build
node_modules/
.next/
out/
dist/
build/
coverage/

# env / secrets
.env
.env.*
!.env.example
*.pem
*.key
cert.pem
key.pem

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
npm-debug.log*

# misc
*.tsbuildinfo
next-env.d.ts
